<div><%= link_to "Create New Editor", new_admin_user_path %></div>
<div><%= link_to "View All Users", user_index_path %></div>
<div><%= link_to "View All Drafted Posts", posts_drafts_path %></div>
<div><%= link_to "View All Published Posts", posts_published_path %></div>
<div><%= link_to "Create new post", new_post_path %></div>