<div><%= link_to "Create New Editor", "#" %></div>
<div><%= link_to "View All Users", "#" %></div>
<div><%= link_to "View All Drafted Posts", "#" %></div>
<div><%= link_to "View All Published Posts", "#" %></div>
<div><%= link_to "Create new resume", "#" %></div>
